.footer {
  background: #111;
  color: #eaeaea;
  padding: 3rem 2rem 1.5rem;
  font-family: "Poppins", sans-serif;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}

/* Columns */
.footer_col {
  flex: 1;
  min-width: 220px;
}

.footer h3 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.footer_col h4 {
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 500;
}

.footer_col p {
  color: #bbbbbb;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.footer_col ul {
  padding: 0;
  list-style: none;
}

.footer_col ul li {
  margin: 8px 0;
  cursor: pointer;
  transition: 0.2s;
}

.footer_col ul li:hover {
  color: #a36bff;
}

/* Social Icons */
.footer_social {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.footer_social svg {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.footer_social svg:hover {
  color: #a36bff;
  transform: scale(1.1);
}

/* Newsletter */
.newsletter {
  display: flex;
  margin-top: 1rem;
}

.newsletter input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
}

.newsletter button {
  padding: 10px 10px;
  border: none;
  background: #a36bff;
  color: white;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  transition: 0.3s;
}

.newsletter button:hover {
  background: #8a4ce5;
}

/* Bottom Bar */
.footer_bottom {
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #333;
  color: #bbbbbb;
  font-size: 14px;
}
