.listBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

/* ==== PRODUCT CARD ==== */
.listItem {
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  align-items: center;
  padding: 5px 25px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
  transition: 0.2s ease;
}

.listItem:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 12px rgba(0,0,0,0.1);
}

/* LEFT IMAGE */
.left img {
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
  width: 110px;
  height: 110px;
  border-radius: 0px 20px 20px 0px;
  filter:blur(0.3px) ;
  
  object-fit: cover;
}

/* CENTER CONTENT */
.center h2 {
  font-size: 20px;
  color: #c88bff;
  font-weight: 600;
}

.center .sizes {
  color: #444;
  font-size: 14px;
}

.center .stock {
  color: #23c55e;
  font-weight: 500;
  margin-top: 5px;
}

.center .cat {
  color: #777;
  font-size: 14px;
}

/* RIGHT BUTTONS */
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  align-items: flex-end;
}

.editBtn {
  color: #2563eb;
  cursor: pointer;
  font-weight: 600;
}

.delBtn {
  color: #dc2626;
  cursor: pointer;
  font-weight: bold;
}

/* ==== DIALOG OVERLAY ==== */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.editDialog {
  width: 420px;
  background: #fff;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  animation: popIn 0.25s ease;
}

.editDialog h3 {
  margin-bottom: 20px;
  font-size: 22px;
}

.editDialog label {
  font-size: 14px;
  margin-top: 12px;
  display: block;
  font-weight: 600;
  color: #333;
}

.editDialog input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 6px;
  font-size: 14px;
}

.variantBox {
  margin-top: 20px;
}.sectionTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #444;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.variantRow {
  display: flex;
  gap: 10px;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  align-items: center;
}

.variantRow select,
.variantRow input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.removeVariant {
  background: #dc2626;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.addVariantBtn {
  background: #2563eb;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}
