.shoppingMall{
  margin-top: 1rem;
  min-height: 40vh;
  padding: 20px 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
 
}

.shoppingMall .mensBlock,
.shoppingMall .womensBlock,
.shoppingMall .kidsBlock{
  height: 200px;
  width: 400px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 2px solid rgb(159, 159, 159);
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoppingMall .mensBlock::after,
.shoppingMall .womensBlock::after,
.shoppingMall .kidsBlock::after{
  content: '';
  inset: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-color: rgba(14, 11, 11, 0.372);
}


.shoppingMall .mensBlock img,
.shoppingMall .womensBlock img,
.shoppingMall .kidsBlock img{
  position: absolute;
  z-index: -1;
  height: 300px;
  width: 100%;
  inset: 0;
  height: 100%;
  background-size: cover;
  width: 100%;
}
.shoppingMall .mensBlock div,
.shoppingMall .womensBlock div,
.shoppingMall .kidsBlock div{
  display: flex;
  inset: 0;
  justify-content: center;
  align-items: center;
  color: rgb(253, 253, 253);
  font-weight: 500;
  font-size: 22px;
  height: 50px;
  width: 200px;
  border: 1px solid rgb(212, 212, 212);
  letter-spacing: 2px;
  cursor: pointer;

  position: relative;
  z-index: 1;
  overflow: hidden;
}


.shoppingMall .mensBlock div::before,
.shoppingMall .womensBlock div::before,
.shoppingMall .kidsBlock div::before{
 content: '';
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 width: 100%;
 height: 100%;
 background-color: rgba(255, 255, 255, 0.466);
 transform: translate(-100%);
 transition: transform 0.6s ease-in-out;
}


.shoppingMall .mensBlock div:hover::before,
.shoppingMall .womensBlock div:hover::before,
.shoppingMall .kidsBlock div:hover::before{
 content: '';
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 width: 100%;
 height: 100%;
 background-color: rgba(255, 255, 255, 0.425);
 transform: translate(0%);
}




/* ================================ SALE WINDOW ================================*/
.saleWindow{
  height: 40vh;
  width: 100%;
  padding-bottom: 0px;
}
.saleWindow .saleBgImg{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.saleBgImg img{
  width: 100%;
  position: absolute;
  z-index: -1;
  inset: 0;
  height: 100%;
}.saleBgImg{
  position: relative;
}

.saleBgImg .exploreDeals{
  position: absolute;
  bottom: 80px;
  left: 50px;
  z-index: 2;
  overflow: hidden;
}

.saleBgImg .exploreDeals button{
  border: 1px solid white;
  padding: 10px 18px;
  font-weight: 600;
  cursor: pointer;
  background: transparent;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 2;
}

.exploreDeals::before{
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(255,255,255,0.45);
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  z-index: 1;
}

.exploreDeals:hover::before{
  transform: translateX(0);
}


@media (max-width: 360px) {

  .shoppingMall {
    flex-direction: column;
    gap: 2px;
    padding: 0px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;


  }

  .shoppingMall .mensBlock,
  .shoppingMall .womensBlock,
  .shoppingMall .kidsBlock {
    width: 100%;
    height: 160px;
    border: transparent;
  }

  .shoppingMall img {
    object-fit: cover;
  }

  .shoppingMall .mensBlock div,
  .shoppingMall .womensBlock div,
  .shoppingMall .kidsBlock div {
    width: 160px;
    height: 40px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .saleWindow {
    height: 35vh;
  }

  .saleBgImg .exploreDeals {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .saleBgImg .exploreDeals button {
    padding: 8px 14px;
    font-size: 14px;
    color: white;
  }
}

@media (min-width: 361px) and (max-width: 480px) {

  .shoppingMall {
    flex-direction: column;
    gap: 20px;
    padding: 14px;
  }

  .shoppingMall .mensBlock,
  .shoppingMall .womensBlock,
  .shoppingMall .kidsBlock {
    width: 100%;
    height: 180px;
  }

  .shoppingMall img {
    object-fit: cover;
  }

  .shoppingMall .mensBlock div,
  .shoppingMall .womensBlock div,
  .shoppingMall .kidsBlock div {
    width: 180px;
    height: 45px;
    font-size: 18px;
  }

  /* ===== SALE SECTION ===== */
  .saleWindow {
    height: 40vh;
  }

  .saleBgImg .exploreDeals {
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .saleBgImg .exploreDeals button {
    padding: 10px 16px;
    font-size: 15px;
    color: white !important;
  }
}

