/* MAIN NAVBAR */
.pm_navbar {
  height: 70px;
  width: 100%;
  padding: 0 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  box-shadow: 0 6px 24px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}


/* LOGO */
.pm_logo {
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #111827;
}

.pm_logo span {
  color: #6366f1; /* Indigo accent */
}


/* RIGHT SECTION */
.pm_right {
  display: flex;
  align-items: center;
  gap: 20px;
}


/* AUTH BUTTONS (Login / Register) */
.pm_btn {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: 0.25s;
}
.pm_auth{
  display: flex;
  gap: 10px;
}
.pm_login {
  background: white;
  color: #4b5563;
  border: 1px solid #d1d5db;
}

.pm_login:hover {
  background: #f3f4f6;
}

.pm_register {
  background: #6366f1;
  color: white;
}

.pm_register:hover {
  background: #4f46e5;
}


/* USER PANEL WHEN LOGGED IN */
.pm_user_panel {
  display: flex;
  align-items: center;
  gap: 22px;
}


/* ICON WRAPPER */
.pm_icon_wrap {
  position: relative;
  cursor: pointer;
}

.pm_icon {
  font-size: 22px;
  color: #374151;
  transition: 0.2s;
}

.pm_icon:hover {
  color: #6366f1;
  transform: scale(1.1);
}

/* NOTIFICATION BADGE */
.pm_badge {
  position: absolute;
  top: -4px;
  right: -8px;

  background: #ef4444;
  color: white;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 50%;
}


/* PROFILE BOX */
.pm_profile {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 6px 12px;
  border-radius: 50px;

  background: rgba(99, 102, 241, 0.1);
  color: #111827;
  cursor: pointer;

  transition: 0.25s;
}

.pm_profile:hover {
  background: rgba(99, 102, 241, 0.2);
}

.pm_profile img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
}
