.primary_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 20px;
  background: linear-gradient(90deg, #000000, #0a0d3d);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app_name {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.nav_right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.auth_buttons{
    display: flex;
    gap: 5px;
}
.auth_buttons button {
  border: 1.5px solid gray;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.auth_buttons button:hover {
  opacity: 0.8;
}

.user_info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 1.5px solid gray;
}

.profile span {
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 3px;
  border-bottom: 1.4px solid gray;
}
