
.shoppingBlock{
    position: relative;
    z-index: 1;
}
.sideBarHead {
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100vh;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  transform: translateX(-260px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 100;
 
}

/* Sidebar content */
.theFilters {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.sizeFilter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filterTitle {
  font-weight: 600;
  font-size: 15px;
}

.sizeChoices span {
  border: 1px solid #aaa;
  padding: 6px 14px;
  border-radius: 6px;
  margin-right: 6px;
  cursor: pointer;
}

.sizeChoices span:hover {
  background: #000;
  color: #fff;
}

.priceRange .rangeInput{
    width: 100%;
}

.priceTag {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}

/* toggle button */
.sideToggleBtn {
  position: absolute;
  top: 0;
  left: 100%;
  width: 40px;
  height: 100%;
  
  background: white;
  border: 1px solid none;
  color: darkorchid;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 200;
  transition: transform 0.3s;
    border: 1px solid rgb(221, 221, 221);

}


/* apply filter button */
.applyFilter button{

    border: 1px solid darkorchid;
    width: 200px;
    height: 40px;
    color: darkorchid;
    cursor: pointer;
    transition: bg 0.4s ease-in-out,color 0.4s ease-in-out ;
}
.applyFilter button:hover{
    background-color: darkorchid;
    color: white;
}
