.similar_container {
  width: 100%;
  margin-top: 3rem;
  padding: 1rem 0;
}

.similar_title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #6f2dbd;
}

.similar_slider {
  padding-bottom: 1rem;
}
.similar_slider .swiper{
    height: fit-content !important;
}
.similar_slider .swiper-wrapper{
    height: fit-content !important;
}
.similar_slider .swiper-slide{
    height: fit-content !important;
}

.similar_card {
  width: 100%;
  height: 260px;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: .3s ease;
}

.similar_card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.similar_info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.similar_info h4 {
  font-size: 14px;
  font-weight: 500;
}

.similar_info p {
  font-size: 14px;
  font-weight: bold;
  color: #6f2dbd;
}

/* Swiper Arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #6f2dbd !important;
}
