.skeleton {
  opacity: 0.6;
  pointer-events: none;
}

.imgSkeleton {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #b07979;
  animation: pulse 1.5s infinite ease-in-out;
}

.line {
  height: 15px;
  border-radius: 6px;
  background: #ddd;
  margin: 8px 0;
  animation: pulse 1.5s infinite ease-in-out;
}

.line.w1 { width: 180px; }
.line.w2 { width: 120px; }
.line.w3 { width: 150px; }

.btnSkeleton {
  width: 60px;
  height: 15px;
  background: #ddd;
  border-radius: 5px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% { background-color: #8d8d8d; }
  50% { background-color: #8d8d8d; }
  100% { background-color: #747272; }
}



/*  
Product Skeleton
*//* Skeletons */
.skeleton {
  pointer-events: none;
  height: fit-content;
}

.skeleton-img {
  height: 200px;
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f5f5f5 37%,
    #e0e0e0 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s infinite;
}

.skeleton-line {
  height: 14px;
  background: #e0e0e0;
  margin: 8px 0;
  border-radius: 6px;
}

.skeleton-line.short {
  width: 50%;
}

@keyframes shimmer {
  0% { background-position: 100% 0 }
  100% { background-position: -100% 0 }
}
