/* =========================
   INCLUDED IN CART
========================= */
.ud_included_cart {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Header */
.ud_included_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ud_included_title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ud_included_header h3 {
  font-size: 16px;
  font-weight: 600;
}

.ud_included_header span {
  font-size: 12px;
  color: var(--text-muted);
}

/* Item List */
.ud_included_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Item Card */
.ud_included_item {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 14px;
  border-radius: 16px;

  background: var(--glass-bg);
  backdrop-filter: blur(14px);
  border: 1px solid var(--glass-border);
  box-shadow: 0 8px 25px var(--glass-shadow);

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.ud_included_item:hover {
  transform: translateY(-2px);
  box-shadow: 0 16px 35px var(--glass-shadow);
}

.ud_included_item img {
  width: 52px;
  height: 52px;
  border-radius: 12px;
  object-fit: cover;
}

/* Info */
.ud_included_info h4 {
  font-size: 14px;
  font-weight: 500;
}

.ud_included_info p {
  font-size: 13px;
  color: var(--text-muted);
}

/* Status */
.ud_included_status {
  margin-left: auto;
  display: flex;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  font-size: 12px;
  color: #86efac;
}
.ud_included_status .child_one{
    display: flex;
    align-items: center;
}
.ud_included_status .child_two{
    
     color: orange;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.ud_included_status .child_two:hover{
    transform: scale(1.1);
    color: rgba(238, 26, 26, 0.909);
}
/* Footer */
.ud_included_footer {
  margin-top: 4px;
  padding: 12px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 16px;
  background: linear-gradient(
    135deg,
    rgba(108, 99, 255, 0.3),
    rgba(34, 197, 94, 0.3)
  );
}
